.lists-container {
  display: flex;
  gap: 10px;
}
.lists-container div[data-rfd-droppable-id] {
  flex-grow: 1;
}
.list-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.task {
  background-color: rgba(211, 238, 139, 0.144);
  margin: 8px;
  border-radius: 10px;
  padding: 8px;
  border: 2px solid rgba(111, 231, 111, 0.671);
}
